/* my-page-container 내부에서만 스타일이 적용되도록 제한 */
.my-page-container {
    .card {
        --cui-card-bg: #ffffff !important;
        background-color: #ffffff !important;
        margin-top: 1rem;
        border: 1px solid #F0EDE8;
        border-radius: 10px;
        overflow: hidden;
        padding: 15px; /* 카드 전체 안에 여백 추가 (원하는 수치로 조절) */
    }

    /* 카드 헤더(제목 부분) 배경색도 하얗게 강제 변경 */
    .card-header {
        background-color: #ffffff !important;
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid #f0ede8;
        font-weight: bold;
        color: #363636;
    }

    /* 카드 푸터*/
    .card-footer {
        background-color: #ffffff !important;
        border-radius: 0 0 10px 10px;
        // border-top: #f0ede8 1px solid;
        border-top: none;
        font-weight: bold;
    }

    .button {
        border-radius: 40px !important;
        border: 1px solid #363636 !important;
    }

    .button-green {
        border-radius: 40px !important;
        background-color: #3D6B4F !important;
        border: 1px solid #3D6B4F !important;
        color: #ffffff !important;
        
        &:hover {
            background-color: #2c4e3a !important; /* 마우스를 올렸을 때 살짝 어두운 초록색 */
            border-color: #2c4e3a !important;
        }
    }

    /* 페이지네이션 커스텀 스타일 (테마색 적용 및 둥근 모양) */
    .pagination {
        .page-item {
            .page-link {
                padding: 0.25rem 0.75rem;
                color: #3D6B4F;
                border-radius: 8px;
                margin: 0 3px;
                border: 1px solid #F0EDE8;
                
                &:hover {
                    background-color: rgba(61, 107, 79, 0.1);
                    border-color: #3D6B4F;
                }
            }

            &.active .page-link {
                background-color: #3D6B4F !important;
                border-color: #3D6B4F !important;
                color: #ffffff !important;
            }
        }
    }
}